---
layout: page
title: Blog
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
	        {% include blog-post.html %}
	    {% endfor %}

		{% if site.paginate %}
			{% include pagination.html%}
		{% endif %}
	{% else %}
		{% for post in site.posts %}
			{% include blog-post.html %}
		{% endfor %}
	{% endif %}
</section>

<iframe src="https://www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fshashwatg3&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>